body{
  text-align: center;
}

/*-------------------- Header --------------------*/
header{
  display:flex;
  justify-content: space-around;
}

/*-------------------- Home Page --------------------*/

/*-------------------- Facts Page --------------------*/
.facts-page-entry{
  border: 1px solid red;
}

/*-------------------- Entry Page --------------------*/
